In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

data_set = pd.read_csv('/content/drive/MyDrive/wine.data')

data_set.head(10)

   1  14.23  1.71  2.43  15.6  127  ...   .28  2.29  5.64  1.04  3.92  1065
0  1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
1  1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
2  1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
3  1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735
4  1  14.20  1.76  2.45  15.2  112  ...  0.34  1.97  6.75  1.05  2.85  1450
5  1  14.39  1.87  2.45  14.6   96  ...  0.30  1.98  5.25  1.02  3.58  1290
6  1  14.06  2.15  2.61  17.6  121  ...  0.31  1.25  5.05  1.06  3.58  1295
7  1  14.83  1.64  2.17  14.0   97  ...  0.29  1.98  5.20  1.08  2.85  1045
8  1  13.86  1.35  2.27  16.0   98  ...  0.22  1.85  7.22  1.01  3.55  1045
9  1  14.10  2.16  2.30  18.0  105  ...  0.22  2.38  5.75  1.25  3.17  1510

[10 rows x 14 columns]

In [21]:
x= data_set.iloc[:,[2,8]].values
Y=data_set.iloc[:,4].values

from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
svr = SVR()

x_train,x_test,Y_train,Y_test=train_test_split(x,Y,test_size=0.3,random_state=0)
from sklearn.preprocessing import StandardScaler

sc= StandardScaler()
x_train =sc.fit_transform(x_train)
x_test= sc.fit_transform(x_test)

from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state=0)

svr.fit(x_train, Y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
Y_pred = classifier.predict(x_test)

from sklearn.metrics import accuracy_score

m= accuracy_score(Y_test,Y_pred)
m

In [33]:
print(0.5281385281385281)

0.5281385281385281